In [7]:
__version__ = '0.3'

import numpy as np
import pandas as pd

In [8]:
import_price1 = pd.read_csv('data/octopus_imprt_price_southern.csv', index_col=0,parse_dates=True,header = 0)
export_price1 = pd.read_csv('data/octopus_export_price_southern.csv', index_col=0,parse_dates=True,header = 0)

start_time = "2019-1-31 00:00:00"
end_time = "2019-5-15 22:30:00"
        
import_price2 =import_price1.loc[start_time:end_time]
export_price2 =export_price1.loc[start_time:end_time]
        
import_price3 = import_price2.between_time('09:00:00','16:30:00')
export_price3 = export_price2.between_time('09:00:00','16:30:00')

In [9]:
import_price3

                     Import Rate (p/kWh)
local_time
2019-01-31 09:00:00              15.6555
2019-01-31 09:30:00              14.8155
2019-01-31 10:00:00              14.5110
2019-01-31 10:30:00              13.5345
2019-01-31 11:00:00              13.8075
...                                  ...
2019-05-15 14:30:00               7.5810
2019-05-15 15:00:00              20.3385
2019-05-15 15:30:00              20.5380
2019-05-15 16:00:00              21.3780
2019-05-15 16:30:00              22.1235

[1680 rows x 1 columns]

In [10]:
export_price3

                     Outgoing Agile Rate (p/kWh)
local_time
2019-01-31 09:00:00                         7.60
2019-01-31 09:30:00                         7.24
2019-01-31 10:00:00                         7.11
2019-01-31 10:30:00                         6.70
2019-01-31 11:00:00                         6.81
...                                          ...
2019-05-15 14:30:00                         4.11
2019-05-15 15:00:00                         4.03
2019-05-15 15:30:00                         4.16
2019-05-15 16:00:00                        11.27
2019-05-15 16:30:00                        11.36

[1680 rows x 1 columns]

In [11]:
for column in import_price3 [['Import Rate (p/kWh)']]:
    import_price = import_price3[column] 
    import_price_value = import_price.values
            
for column in export_price3 [['Outgoing Agile Rate (p/kWh)']]:
    export_price = export_price3[column]
    export_price_value = export_price.values

In [12]:
import_price_value

array([15.6555, 14.8155, 14.511 , ..., 20.538 , 21.378 , 22.1235])

In [13]:
export_price_value

array([ 7.6 ,  7.24,  7.11, ...,  4.16, 11.27, 11.36])