In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
daywanted = 1
rows_to_keep = [0,daywanted]
#data = pd.read_csv(path, skiprows = lambda x: x not in rows_to_keep)
data = pd.read_csv('CastleMillHousingArea_Elec_1617.csv', skiprows = lambda x: x not in rows_to_keep)
data = data.drop(['Meter Id','Site Code','Meter Reference'], axis = 1);

In [43]:
data

,Date,00:30,01:00,02:00,03:00,04:00,05:00,06:00,07:00,08:00,...,15:00,16:00,17:00,18:00,19:00,20:00,21:00,22:00,23:00,24:00
0,01/01/2016,14.0,14.1,14.6,15.2,15.2,13.5,13.1,13.6,13.2,...,14.8,15.3,19.2,19.4,18.4,16.1,18.2,17.1,16.4,14.2